<div class="layout">
    
    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Max PPL
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel
                [number]="maxCost">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Min PPL
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel 
                [number]="minCost">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Avg PPL
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel 
                [number]="avgCost">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Avg Per Day Usage
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel 
                [number]="avgDayUsage$ | async">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Avg Per Day Cost
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel 
                [number]="avgDayCost">
            </app-number-panel>
        </mat-card-content>
    </mat-card>
            
    <mat-card class="line" *ngIf="isVisible('line')">
        <mat-card-header>
            <mat-card-title>Per day units</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-oil-reading-line-chart [data]="data" [options]="options"></app-oil-reading-line-chart>            
        </mat-card-content>
    </mat-card>
    
</div>