<div class="layout">
    
    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Max PPL (£)
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel
                [loading]="loading$"
                [number]="maxCost$ | async">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Min PPL (£)
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel 
                [loading]="loading$"
                [number]="minCost$ | async">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Avg PPL (£)
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel
                [loading]="loading$"
                [number]="avgCost$ | async">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Avg Per Day Usage (L)
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel 
                [loading]="loading$"
                [number]="avgDayUsage$ | async">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Avg Per Day Cost (£)
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel
                [loading]="loading$"
                [number]="avgDayCost$ | async">
            </app-number-panel>
        </mat-card-content>
    </mat-card>

    <mat-card class="number-panel" *ngIf="isVisible('number-panel')">
        <mat-card-header>
            <mat-card-title>
                Avg Per 30 day Cost (£)
            </mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <app-number-panel 
                [loading]="loading$"
                [number]="avg30DayCost$ | async">
            </app-number-panel>
        </mat-card-content>
    </mat-card>
            
    <mat-card class="line" *ngIf="isVisible('line')">
        <mat-card-header>
            <mat-card-title>Per day units</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-oil-reading-line-chart
                [loading]="loading$"    
                [data]="lineChartData | async"
                [options]="options">
            </app-oil-reading-line-chart>            
        </mat-card-content>
    </mat-card>
    
</div>