{{ user?.name }}
<span class="spacer"></span>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="!loginDisplay" (click)="loginRedirect()">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item *ngIf="loginDisplay" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>    
  </mat-menu>
