
<mat-toolbar>
    <span>Meter Readings</span>    
    <span class="spacer"></span>
    <button mat-icon-button 
      (click)="addNewReading()"
      data-test="add-button"
      aria-label="Add new reading"
      title="Add new reading">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button id="toggle-chart"
      (click)="toggleChart()"
      data-test="chart-toggle"
      aria-label="Toggle chart visibility"
      title="Toggle chart visibility">
      <mat-icon>expand_more</mat-icon>
    </button>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

  <mat-tab label="Charts">
    <mat-card>  
      <app-reading-chart [loading]="loading$"></app-reading-chart>
    </mat-card>
  </mat-tab>  

  <mat-tab label="Data">

    <mat-card *ngIf="chartVisible">  
      <app-reading-chart [loading]="loading$" [charts]="['line']"></app-reading-chart>
    </mat-card>

    <mat-card>
      <mat-form-field appearance="fill" color="primary" id="filter-form-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>    
      </mat-form-field>
      
    <p>
      <mat-slide-toggle [(ngModel)]="forecastApplied" (change)="toggleForecast()">Forecast</mat-slide-toggle>
    </p>

      <table mat-table [dataSource]="dataSource" 
        matSort 
        (matSortChange)="onSortChange($event)"
        matSortActive="readingdate"
        matSortDirection="desc"
        class="mat-elevation-z8 reading-table">
        
          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef> Rate </th>
            <td mat-cell *matCellDef="let reading"> {{reading.rate}} </td>
          </ng-container>

          <ng-container matColumnDef="reading">
            <th mat-header-cell *matHeaderCellDef> Reading </th>
            <td mat-cell *matCellDef="let reading"> {{reading.reading}} </td>        
          </ng-container>
          <ng-container matColumnDef="readingdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let reading"> {{reading.readingdate | date : 'mediumDate' : 'UTC'}} </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let reading"> {{reading.userName}} </td>
          </ng-container>

          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let reading"> {{reading.note}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let reading">
              <button mat-icon-button
                (click)="deleteReading(reading._id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let reading; columns: columnsToDisplay"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>

      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons 
        [length]="dataSource.totalReadings$ | async"
        [pageSize]="pageSize"
        (page)="onChangePage($event)"
        aria-label="Select page of readings">
      </mat-paginator>
    </mat-card>
  </mat-tab>  
</mat-tab-group>