mat-card {
    margin: 25px;
}

mat-icon {
    padding-right: 10px;
}

mat-card-content > button {
    padding: 3px;
}

.layout {
    display: flex;
    flex-wrap: wrap;
}

mat-card > div {
    cursor: pointer;
}